@use '../abstracts/variables' as *;

img {
  max-width: 100%;
}

.q-notification {
  font-family: $c-regular !important;
  font-size: 1.5rem;
  cursor: default;
}

* {
  box-sizing: border-box !important;
}
