@font-face {
  font-family: 'Cera Regular';
  src: url(../../fonts/CeraProRegular.otf);
}

@font-face {
  font-family: 'Cera Regular Italic';
  src: url(../../fonts/CeraProRegularItalic.otf);
}

@font-face {
  font-family: 'Cera Bold';
  src: url(../../fonts/CeraProBold.otf);
}

@font-face {
  font-family: 'Cera Medium';
  src: url(../../fonts/CeraProMedium.otf);
}
@font-face {
  font-family: 'Cera Light Italic';
  src: url(../../fonts/CeraProLightItalic.otf);
}

@font-face {
  font-family: 'Cera Black';
  src: url(../../fonts/CeraProBlack.otf);
}
