$c-regular: 'Cera Regular';
$c-bold: 'Cera Bold';
$c-medium: 'Cera Medium';
$c-medium-i: 'Cera Medium Italic';
$c-light-i: 'Cera Light Italic';
$c-regular-i: 'Cera Regular Italic';
$c-black: 'Cera Black';
